
<div class="container">
  <div *ngIf="(state$ | async)?.title">
    {{(state$ | async)?.subtitle}}

    <div *ngIf="(authUser$|async)">
      <h2>Add Gallery</h2>
      <mat-card class="card">
        <form [formGroup]="galleryForm" (ngSubmit)="onFormSubmit()">
          <mat-form-field class="full-width">
            <mat-label>Gallery Image</mat-label>
            <ngx-mat-file-input formControlName="file" (change)="onFileChange($event)" placeholder="Select Image" valuePlaceholder="No image file selected"></ngx-mat-file-input>
            <mat-icon matSuffix>folder</mat-icon>
            <mat-error>
              <span *ngIf="!galleryForm.get('file').valid">Please select image file</span>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Image Name</mat-label>
            <label><input matInput placeholder="Image Name" formControlName="title"></label>
            <mat-error>
              <span *ngIf="!galleryForm.get('title').valid && galleryForm.get('title').touched">Please enter Image Name</span>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label>Image Description</mat-label>
            <label><input matInput placeholder="Image Description" formControlName="description"></label>
            <mat-error>
              <span *ngIf="!galleryForm.get('description').valid && galleryForm.get('description').touched">Please enter Image Description</span>
            </mat-error>
          </mat-form-field>
          <div class="button-row">
            <button type="submit" mat-flat-button color="primary"><mat-icon>upgrade</mat-icon></button>
          </div>
        </form>
      </mat-card>
      <mat-card *ngIf="imageSrc">
        <img [src]="imageSrc" style="height: 500px; width:500px" alt="preview">
      </mat-card>
    </div>
    <div class="container">
      <div><mat-spinner *ngIf="loading && !images" color="secondary"></mat-spinner></div>
      <div class='container'
           *ngFor="let image of images" ><img (click)="openModal(image)" class="image" [src]='image.url' [alt]="image.title"/>
      </div>
    </div>
  </div>
</div>
