.image {
  transition: all 2s;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}
.imageContainer {
  float: left;
  margin: 10px;
  width:  90%;
  height: 400px;
}
img:hover {
  transform: scale(1.1);
}
