@import "../../../../../theme/custom";

body { padding: 10px; font-family: Nunito, "Helvetica Neue", sans-serif; }

@mixin header-elements {
  min-width: 200px !important;
  border: none;
  font-weight: bold;
  font-size: x-large;
}

.mat-toolbar,
.mat-tab-link-active,
.mat-tab-link,
.mat-tab-label {
  @include header-elements;
  color: mat-color($accent, 400)
}

.mat-tab-label-active {
  @include header-elements;
  color: mat-color($accent, 50)
}

.mat-sidenav-container {
  height: 100%;
}

.header {
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  top:0;
  left:0;
  right:0;
  overflow:hidden;
  z-index: 2;
  height: 78px;
  @include md {
    height: 200px;
  }
}

.header.mat-toolbar {
  border-bottom: 2px solid mat-color($accent, 300) !important;
}

.menu-spacer {
  flex: 1 1 auto;
}

.content {
  background: mat-color($rijks, 500);
  position: absolute;
  top: 78px;
  bottom: 0;
  padding: 20px;
  overflow: scroll;
  @include md {
    top: 200px;
  }
}

.settings-button {
  color: mat-color($accent, 400);
  opacity: .6;
  height: 48px !important;
  line-height: 0;
}
