
body { padding: 10px; font-family: Nunito, "Helvetica Neue", sans-serif; }


@mixin header-elements {
  min-width: 200px !important;
  border: none;
  font-weight: bold;
  font-size: large;
}

.mat-tab-nav-bar,
.mat-tab-link-active,
.mat-tab-link,
.mat-tab-label {
  @include header-elements;
  color: #D5FEFF;
}

.mat-tab-label-active {
  @include header-elements;
  color: #dff9fa;
}


.header {
  height: 200px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.settings-button {
  color: #D5FEFF;
  opacity: .6;
}


