<div class="container">
  Do you want a jelly baby? Don't be sad Grace. You'll do great things. Jamie, remind me to give you a lesson in tying knots, sometime. This thing is smaller on the inside than it is on the outside. Life depends on change and renewal. My ship…my TARDIS… Oh my word! Dreams are important…never underestimate them. I am the Doctor! The original, you might say! Oh I'm so sorry, Jamie. Would you like a jelly baby? Goodbye... Fancypants! I don't like it. Courage isn’t a matter of not being frightened, it’s being afraid and doing what you have to do anyway.
</div>
<mat-toolbar class="container">
  <nav mat-tab-nav-bar>
    <a mat-tab-link
       *ngFor="let tab of tabs"
       [routerLink]='"/article/"+tab.id'
       [state]="{data: tab}"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive">
      {{tab.title}}
    </a>
  </nav>
</mat-toolbar>
<router-outlet></router-outlet>
