@import "~@angular/material/theming";
@import 'theme/custom';

html, body { height: 100%; background: mat-color($primary, 500) }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  text-align: center;
}

.full-width {
  width: 100%;
}

.full-width:nth-last-child(0) {
  margin-bottom: 10px;
}

.button-row {
  margin-right: 5px;
}

.mat-flat-button {
  margin: 5px;
}

.mat-dialog-container {
  background: transparent !important;
  padding: 0 !important;
  box-shadow: none !important;
  max-width: 80% !important;
  max-height: 80% !important;
  margin: auto !important;
}
