@import '~@angular/material/theming';

@at-root {
  @font-face {
    font-family: 'Nunito';
    src: url('client/srcassets/font/Nunito-Bold.eot');
    src: url('client/srcassets/font/Nunito-Bold.eot?#iefix') format('embedded-opentype'),
    url('client/srcassets/font/Nunito-Bold.woff2') format('woff2'),
    url('client/srcassets/font/Nunito-Bold.woff') format('woff'),
    url('client/srcassets/font/Nunito-Bold.ttf') format('truetype'),
    url('client/srcassets/font/Nunito-Bold.svg#Nunito-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Nunito';
    src: url('client/srcassets/font/Nunito-Regular.eot');
    src: url('client/srcassets/font/Nunito-Regular.eot?#iefix') format('embedded-opentype'),
    url('client/srcassets/font/Nunito-Regular.woff2') format('woff2'),
    url('client/srcassets/font/Nunito-Regular.woff') format('woff'),
    url('client/srcassets/font/Nunito-Regular.ttf') format('truetype'),
    url('client/srcassets/font/Nunito-Regular.svg#Nunito-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
}

$custom-typography: mat-typography-config(
  $font-family: 'Nunito, monospace',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

$app-primary: mat-palette($mat-grey);
$app-accent: mat-palette($mat-light-blue);
$app-warn: mat-palette($mat-pink);

$app-theme: mat-dark-theme($app-primary, $app-accent, $app-warn);

$primary: mat-color($app-primary);
$accent: mat-color($app-accent);
$warn: mat-color($app-warn);

@include mat-core($custom-typography);
@include angular-material-theme($app-theme);
